@model KlinikSystem.Models.ViewModels.ExpedienteVM
@{
    ViewData["Title"] = "AgregarExpediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["VistaKlinik"] = "ADMINISTRACION DEL EXPEDIENTE";
}
@section Estilos
{
    <link rel="stylesheet" href="~/css/VistaIngreso/ExpedienteIngreso.css" asp-append-version="true" />
}

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*Apartado del indice de operaciones del formulario /////////////////////////////////////////////////*@

@if (Model.obExpediente.Idexpediente == 0)
{
    <div id="indiceFormulario">
        <p>Klinik System > Gestion de pacientes general > Ingreso de Expedientes</p>
    </div>
}
else
{
    <div id="indiceFormulario">
        <p>Klinik System > Gestion de pacientes general > Modificacion de Expedientes</p>
    </div>
}


@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*Apartado del menu de opciones del formulario //////////////////////////////////////////////////////*@

<form asp-action="AgregarExpediente" asp-controller="Expediente">

    <input type="hidden" asp-for="obExpediente.Idexpediente" />

    <div id="contenedorGeneralFormulario">

        <div id="contenedorMenusFormulario">

            <div id="opcionesMenu1">
                @*espacio para agregar opciones en el filtro mmmmmmmmmmmmmmmmmmmmmm*@

                <div id="filtroMenu">

                    <div id="tituloMenu">

                        @if (Model.obExpediente.Idexpediente == 0)
                        {
                            <p>Agregar Registro - <strong>Expediente</strong> </p>
                        }
                        else
                        {
                            <p>Modificar Registro - <strong>Expediente</strong> </p>
                        }

                    </div>

                </div>

            </div>

            <div id="opcionesMenu2">
                @*espacio para agregar botones en las opciones mmmmmmmmmmmmmmmmmmmmm*@

                <div id="botonesMenu">

                    @if (Model.obExpediente.Idexpediente == 0)
                    {
                        <button onclick="VerificacionInputs()" type="submit" id="botonMenuAgregar"><i class="bi bi-plus-circle-fill"></i> Ingresar Registros</button>
                    }
                    

                    <a asp-action="IndexExpediente" asp-controller="Expediente" id="botonMenuImprimir"><i class="bi bi-box-arrow-left"></i> Ir a los Registros</a>

                </div>

            </div>

        </div>

        @*///////////////////////////////////////////////////////////////////////////////////////////////////*@
        @*///////////////////////////////////////////////////////////////////////////////////////////////////*@
        @*Apartado del contenedor de inputs para ingreso del formulario /////////////////////////////////////*@

        <div id="contenedorInputsRegistros">

            <div id="tarjetaInputsRegistros">

                <div id="apartadoInputsRegistro">

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-person-fill-add"></i></div>
                        <input asp-for="obExpediente.NumeroExpediente" type="text" placeholder="Agregar Numero de Expediente" />
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-person-vcard-fill"></i></div>
                        <select asp-for="obExpediente.Idpaciente" asp-items="@Model.listaPaciente">
                            <option>Paciente</option>
                        </select>
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-person-video2"></i></div>                       
                        <select asp-for="obExpediente.Idpersonal" asp-items="@Model.listaPersonal">
                            <option>Personal</option>
                        </select>
                    </div>                    

                </div>

                <div id="apartadoInputsRegistro">
                  
                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-telephone-plus-fill"></i></div>
                        <input asp-for="obExpediente.FechaCreacion" type="text" value="@DateTime.Now" placeholder="Agregar Fecha Creacion" />
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-envelope-plus-fill"></i></div>
                        <input asp-for="obExpediente.Alergias" placeholder="Agregar Alergias" />
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-clipboard-plus-fill"></i></div>
                        <select asp-for="obExpediente.IdestadoExpediente" asp-items="@Model.listaEstadoExpediente">
                            <option>Estado Expediente</option>
                        </select>
                    </div>

                </div>

            </div>

        </div>

    </div>

</form>


@if (TempData["MensajeCrear"] != null)
{

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="headerNoti" class="toast-header bg-info text-white">
                <i class="bi bi-capsule-pill"></i>
                <strong class="me-auto">&nbsp;Klinik System</strong>
                <small>@DateTime.Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["MensajeCrear"]
            </div>
        </div>
    </div>

}

@if (TempData["Error"] != null)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="headerNotiError" class="toast-header bg-info text-white">
                <i class="bi bi-heart-pulse-fill"></i>
                <strong class="me-auto">&nbsp;&nbsp;<label id="tituloError"><strong>@TempData["Error"]</strong></label></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="alertaError" class="toast-body">
                <span asp-validation-for="obExpediente.NumeroExpediente" id="spanError"></span>
                <span asp-validation-for="obExpediente.Idpaciente" id="spanError"></span>
                <span asp-validation-for="obExpediente.Idpersonal" id="spanError"></span>
                <span asp-validation-for="obExpediente.FechaCreacion" id="spanError"></span>
                <span asp-validation-for="obExpediente.Alergias" id="spanError"></span>
                
            </div>
        </div>
    </div>
}

@section Scripts
    {
    <script src="~/js/Controladores/Personal.js" asp-append-version="true"></script>
}





