@model KlinikSystem.Models.ViewModels.CitasVM
@{
    ViewData["Title"] = "AgregarCitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["VistaKlinik"] = "ADMINISTRACION DE LAS CITAS";
}
@section Estilos
{
    <link rel="stylesheet" href="~/css/VistaIngreso/CitasIngreso.css" asp-append-version="true" />
}

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*Apartado del indice de operaciones del formulario /////////////////////////////////////////////////*@

@if (Model.obCitas.Idcitas == 0)
{
    <div id="indiceFormulario">
        <p>Klinik System > Gestion de pacientes general > Ingreso de Citas</p>
    </div>
}
else
{
    <div id="indiceFormulario">
        <p>Klinik System > Gestion de pacientes general > Actualizacion de Citas</p>
    </div>
}

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*Apartado del menu de opciones del formulario //////////////////////////////////////////////////////*@

<form asp-action="AgregarCita" asp-controller="Citas" method="post">

    <input type="text" asp-for="obCitas.Idcitas"/>

    <div id="contenedorGeneralFormulario">

        <div id="contenedorMenusFormulario">

            <div id="opcionesMenu1">
                @*espacio para agregar opciones en el filtro mmmmmmmmmmmmmmmmmmmmmm*@

                <div id="filtroMenu">

                    <div id="tituloMenu">

                        @if (Model.obCitas.Idcitas == 0)
                        {
                            <p>Agregar Registros - <strong>Citas</strong> </p>
                        }
                        else
                        {
                            <p>Modificar Registros - <strong>Citas</strong> </p>
                        }

                    </div>

                </div>

            </div>

            <div id="opcionesMenu2">
                @*espacio para agregar botones en las opciones mmmmmmmmmmmmmmmmmmmmm*@

                <div id="botonesMenu">

                    @if (Model.obCitas.Idcitas == 0)
                    {
                        <button onclick="VerificacionInputs()" type="submit" id="botonMenuAgregar"><i class="bi bi-plus-circle-fill"></i> Ingresar Registros</button>
                    }
                    else
                    {
                        <button onclick="VerificacionInputs()" type="submit" id="botonMenuAgregar"><i class="bi bi-plus-circle-fill"></i> Actualizar Registros</button>
                    }

                    <a asp-action="IndexCitas" asp-controller="Citas" id="botonMenuImprimir"><i class="bi bi-box-arrow-left"></i> Ir a los Registros</a>

                </div>

            </div>

        </div>

        @*///////////////////////////////////////////////////////////////////////////////////////////////////*@
        @*///////////////////////////////////////////////////////////////////////////////////////////////////*@
        @*Apartado del contenedor de inputs para ingreso del formulario /////////////////////////////////////*@

        <div id="contenedorInputsRegistros">

            <div id="tarjetaInputsRegistros">

                <div id="apartadoInputsRegistro">

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-person-fill-add"></i></div>
                        <input asp-for="obCitas.NumCita" type="text" placeholder="Agregar Numero de cita" />
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-person-vcard-fill"></i></div>
                        <input asp-for="obCitas.Fecha" type="text"  placeholder="Agregar fecha" />
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-person-video2"></i></div>
                        <select asp-for="obCitas.Idpaciente" asp-items="@Model.listaPaciente">
                            <option>Paciente</option>
                        </select>
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-telephone-plus-fill"></i></div>
                        <input asp-for="obCitas.DuiPaciente" placeholder="Agregar Dui" />
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-envelope-plus-fill"></i></div>
                        <select asp-for="obCitas.Idpersonal" asp-items="@Model.listaPersonal">
                            <option>Personal</option>
                        </select>
                    </div>

                </div>

                <div id="apartadoInputsRegistro">

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-shield-fill-plus"></i></div>
                        <input asp-for="obCitas.EspecialidadPersonal" type="text" placeholder="Agregar Especialidad" />
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-image-fill"></i></div>
                        <select asp-for="obCitas.IdestadoCita" asp-items="@Model.listaEstadoCitas">
                            <option>Estado</option>
                        </select>
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-clipboard-plus-fill"></i></div>
                        <select asp-for="obCitas.IdmetodoPago" asp-items="@Model.listaMetodoPago">
                            <option>Metodo</option>
                        </select>
                    </div>

                    <div id="grupoInputRegistro">
                        <div id="iconoInputRegistro"><i class="bi bi-folder-fill"></i></div>
                        <input asp-for="obCitas.Precio" type="text" placeholder="Agregar Precio" />
                    </div>                

                </div>

            </div>

        </div>

    </div>

</form>


@if (TempData["MensajeCrear"] != null)
{

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="headerNoti" class="toast-header bg-info text-white">
                <i class="bi bi-capsule-pill"></i>
                <strong class="me-auto">&nbsp;Klinik System</strong>
                <small>@DateTime.Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["MensajeCrear"]
            </div>
        </div>
    </div>

}

@if (TempData["Error"] != null)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="headerNotiError" class="toast-header bg-info text-white">
                <i class="bi bi-heart-pulse-fill"></i>
                <strong class="me-auto">&nbsp;&nbsp;<label id="tituloError"><strong>@TempData["Error"]</strong></label></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="alertaError" class="toast-body">
                <span asp-validation-for="obCitas.NumCita" id="spanError"></span>
                <span asp-validation-for="obCitas.Fecha" id="spanError"></span>
                <span asp-validation-for="obCitas.DuiPaciente" id="spanError"></span>
                <span asp-validation-for="obCitas.EspecialidadPersonal" id="spanError"></span>
                <span asp-validation-for="obCitas.Precio" id="spanError"></span>

            </div>
        </div>
    </div>
}

@section Scripts
    {
    <script src="~/js/Controladores/Cita.js" asp-append-version="true"></script>
}