@model List<KlinikSystem.Models.Cita>
@{
    ViewData["Title"] = "Administracion Citas";
    ViewData["VistaKlinik"] = "ADMINISTRACION DE LAS CITAS";
}
@section Estilos
{
    <link rel="stylesheet" href="~/css/VistaMuestra/CitasMuestra.css" asp-append-version="true" />
}

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*Apartado del indice de operaciones del formulario /////////////////////////////////////////////////*@

    <div id="indiceFormulario">
        <p>Klinik System > Gestion de citas general</p>
    </div>

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*Apartado del menu de opciones del formulario //////////////////////////////////////////////////////*@

<div id="contenedorGeneralFormulario">    

    <div id="contenedorMenusFormulario"> 

        <div id="opcionesMenu1">  @*espacio para agregar opciones en el filtro mmmmmmmmmmmmmmmmmmmmmm*@

            <div id="filtroMenu">

                <div id="iconoFiltro">
                    <i class="bi bi-funnel-fill"></i>
                </div>

                <div id="grupoSelectFiltro">
                    <div id="iconoSelect">
                        <i class="bi bi-person-fill-gear"></i>
                    </div>
                    <select id="selectFiltro" class="filtroEstadoCita" onclick="SelectIndiceEstado()" asp-items="ViewBag.EstadoCita">
                        <option>Estado Cita...</option>
                    </select>
                </div>

            </div>

            <div id="generalidadesMenu">

                <div id="estadosMenu" class="perfilEstado">
                    
                    <p>Estado: <strong>General</strong> </p>

                </div>

            </div>

        </div>

        <div id="opcionesMenu2"> @*espacio para agregar botones en las opciones mmmmmmmmmmmmmmmmmmmmm*@

            <div id="botonesMenu">

                <a asp-action="AgregarCita" asp-controller="Citas" asp-route-idcitas="0" id="botonMenuAgregar"><i class="bi bi-check-circle-fill"></i> Agregar Registros</a>

                <a id="botonMenuImprimir"><i class="bi bi-file-earmark-pdf-fill"></i> Imprimir Registros</a>

            </div>

            <div id="inputMenu">

                <form asp-controller="Citas" asp-action="IndexCitas">

                    <div id="grupoInputBuscar">

                        <div id="iconoBuscarMenu"><i class="bi bi-search"></i></div>
                        <input name="buscar" type="text" placeholder="Buscar Registro"/>
                    
                    </div>
                
                </form>

            </div>

        </div>

    </div>

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*Apartado del contenedor de registros del formulario ///////////////////////////////////////////////*@

    <div id="contenedorRegistrosFormulario">

        @*espacio para agregar tarjetas de registros mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*@

        @foreach (var item in Model)
        {
            <div id="tarjetaRegistros"> @*id que sirve para modificar el tamaño de la tarjeta*@

                <div id="encabezadoRegistros">
                  
                    <h2>@item.NumCita</h2>

                    <div id="tipoRegistros">

                        <p>@item.Fecha</p>

                    </div>

                </div>

                <div id="cuerpoRegistros"> @*sirve para modificar la alinacion de los contenedores*@
                
                    @*espacio para agregar contenedores para datos mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*@

                    <div id="contenedorDatosRegistros">

                        @*agregar este nombre "datoRegistrosModificado" al componente que se quiera 
                        modificar y cambiarle el tamaño *@

                        <div id="datoRegistros">

                            <div id="iconoRegistro"><i class="bi bi-telephone-fill"></i></div>

                            <div id="atributoRegistro">
                                <p>@item.IdpacienteNavigation.Nombre</p>
                            </div>

                        </div>

                        <div id="datoRegistros">

                            <div id="iconoRegistro"><i class="bi bi-envelope-at-fill"></i></div>

                            <div id="atributoRegistro">
                                <p>@item.IdpersonalNavigation.Nombres</p>
                            </div>

                        </div>

                        <div id="datoRegistros">

                            <div id="iconoRegistro"><i class="bi bi-person-vcard-fill"></i></div>

                            <div id="atributoRegistro">
                                <p>@item.IdestadoCitaNavigation.EstadoCita</p>
                            </div>

                        </div>

                        <div id="datoRegistros">

                            <div id="iconoRegistro"><i class="bi bi-person-fill-exclamation"></i></div>

                            <div id="atributoRegistro">
                                <p>@item.Precio</p>
                            </div>

                        </div>

                    </div>

                    <div id="contenedorDatosRegistros">

                        <div id="datoRegistros">

                            <div id="iconoRegistro"><i class="bi bi-person-circle"></i></div>

                            <div id="atributoRegistro">
                                <p>@item.DuiPaciente</p>
                            </div>

                        </div>

                        <div id="datoRegistros">

                            <div id="iconoRegistro"><i class="bi bi-person-video2"></i></div>

                            <div id="atributoRegistro">
                                <p>@item.EspecialidadPersonal</p>
                            </div>

                        </div>

                        <div id="datoRegistros">

                            <div id="iconoRegistro"><i class="bi bi-person-fill-exclamation"></i></div>

                            <div id="atributoRegistro">
                                <p>@item.IdmetodoPagoNavigation.MetodoPago1</p>
                            </div>

                        </div>                        

                    </div>

                    @*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*@

                </div>

                <div id="pieRegistros">

                    <a asp-action="AgregarCita" asp-controller="Citas" asp-route-idcitas="@item.Idcitas" id="botonPieRegistro"><i class="bi bi-pencil-square"></i> Editar</a>

                    <a id="botonPieRegistro"><i class="bi bi-x-circle-fill"></i> Suspender</a>

                </div>

            </div>
        }      

        @*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*@

    </div>

</div>

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@
@*///////////////////////////////////////////////////////////////////////////////////////////////////*@


@if (TempData["MensajeActualizar"] != null)
{

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="headerNotiUpdate" class="toast-header bg-info text-white">
                <i class="bi bi-heart-pulse-fill"></i>
                <strong class="me-auto">&nbsp; Klinik System</strong>
                <small>@DateTime.Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["MensajeActualizar"]
            </div>
        </div>
    </div>

}

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        let SelectIndiceEstado = () =>
        {
            let filtroEstado = $('.filtroEstadoCita').prop('selectedIndex');

            if(filtroEstado === 0)
            {
                return false;
                //location.reload();
            }
            else
            {

                $.ajax({
                    url: "@Url.Action("FiltroEstado", "Citas")",
                    type: "GET",
                    data: { indice: $('.filtroEstadoCita').prop('selectedIndex') },
                    success: (response) => 
                    {
                        if(response.success === false)
                        {
                            $('#contenedorRegistrosFormulario').empty();

                            let $mensajeNulos = 
                                $(`
                                    <div id="mensajeNulos">
                                        <p>${response.message}</p>
                                    </div>
                                `)

                            $mensajeNulos.appendTo('#contenedorRegistrosFormulario');
                        }
                        else
                        {
                            $('#contenedorRegistrosFormulario').empty();

                            $.map(response.datos, (valor, index) => {

                                console.log(valor)
                                console.log(`id: ${valor.idcitas}`);
                                console.log(`nombres: ${valor.numCita}`);
                                console.log(`dui: ${valor.fecha}`);
                                console.log(`profecion: ${valor.especialidadPersonal}`);
                                console.log(`celular: ${valor.precio}`);  
                                console.log(`correo: ${valor.estadoCita}`);
                                console.log(`imagen: ${valor.metodoPago}`);
                                console.log(`area trabajo: ${valor.paciente}`);
                                console.log(`especialidad: ${valor.personal}`);
                                console.log(`especialidad: ${valor.duiPaciente}`);

                                let urlBase = '@Url.Action("AgregarPersonal", "Personal")';

                                let $tarjetaRegistro = 
                                $(`
                                    <div id="tarjetaRegistros">

                                        <div id="encabezadoRegistros">
                  
                                            <h2>${valor.numCita}</h2>

                                            <div id="tipoRegistros">

                                                <p>${valor.fecha}</p>

                                            </div>

                                        </div>

                                        <div id="cuerpoRegistros"> 

                                            <div id="contenedorDatosRegistros">

                                                <div id="datoRegistros">

                                                    <div id="iconoRegistro"><i class="bi bi-telephone-fill"></i></div>

                                                    <div id="atributoRegistro">
                                                        <p>${valor.paciente}</p>
                                                    </div>

                                                </div>

                                                <div id="datoRegistros">

                                                    <div id="iconoRegistro"><i class="bi bi-envelope-at-fill"></i></div>

                                                    <div id="atributoRegistro">
                                                        <p>${valor.personal}</p>
                                                    </div>

                                                </div>

                                                <div id="datoRegistros">

                                                    <div id="iconoRegistro"><i class="bi bi-person-vcard-fill"></i></div>

                                                    <div id="atributoRegistro">
                                                        <p>${valor.estadosCita}</p>
                                                    </div>

                                                </div>

                                                <div id="datoRegistros">

                                                    <div id="iconoRegistro"><i class="bi bi-person-fill-exclamation"></i></div>

                                                    <div id="atributoRegistro">
                                                        <p>${valor.precio}</p>
                                                    </div>

                                                </div>

                                            </div>

                                            <div id="contenedorDatosRegistros">

                                                <div id="datoRegistros">

                                                    <div id="iconoRegistro"><i class="bi bi-person-circle"></i></div>

                                                    <div id="atributoRegistro">
                                                        <p>${valor.duiPaciente}</p>
                                                    </div>

                                                </div>

                                                <div id="datoRegistros">

                                                    <div id="iconoRegistro"><i class="bi bi-person-video2"></i></div>

                                                    <div id="atributoRegistro">
                                                        <p>${valor.especialidadPersonal}</p>
                                                    </div>

                                                </div>

                                                <div id="datoRegistros">

                                                    <div id="iconoRegistro"><i class="bi bi-person-fill-exclamation"></i></div>

                                                    <div id="atributoRegistro">
                                                        <p>${valor.metodoPago}</p>
                                                    </div>

                                                </div>                        

                                            </div>

                                            @*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*@

                                        </div>

                                        <div id="pieRegistros">

                                            <a asp-action="AgregarPersonal" asp-controller="Personal" id="botonPieRegistro"><i class="bi bi-pencil-square"></i> Editar</a>

                                            <a id="botonPieRegistro"><i class="bi bi-x-circle-fill"></i> Suspender</a>

                                        </div>

                                    </div>
                                `);

                                $tarjetaRegistro.appendTo('#contenedorRegistrosFormulario');

                                //-----------------------------------------------------------

                                $('.perfilEstado').empty(); 
                                
                                $.map(response.datos, (valor, index) => 
                                {                               
                                    if (index === 0) 
                                    {
                                        let $perfilestado = $(`<p>Estado: <strong>${valor.estadosCita}</strong> </p>`)
                                        $perfilestado.appendTo('.perfilEstado')
                                    }
                                });

                                //-----------------------------------------------------------

                                $('#indiceFormulario').empty();

                                let $indice = $('<p>Klinik System > Gestion de citas generales > Filtro de Estado de la cita</p>')

                                $indice.appendTo('#indiceFormulario')

                            });
                        }
                    },
                    error: () => 
                    {
                        console.error("Error al procesar la solicitud.");
                    }
                });
            }  
        }

    </script>

    <script src="~/js/Controladores/Personal.js" asp-append-version="true"></script>
}